<div class="painelAdm">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/edit/user/:{{req.session.userId}}" class="text-decoration-none">Editar dados</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/addMotos" class="text-decoration-none">adicionar motos</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/listMotos" class="text-decoration-none">Motos</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="listRevisao" class="text-decoration-none">Revisões agendadas</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/logout" class="text-decoration-none">Logout</a>

        </li>
    </ul>
</div>