<form action="/addrevisao" method="post">
    <input type="hidden" value="{{userId}}" name="userId">
    <input type="hidden" value="{{motoId}}" name="motoId">
    <label for="data">escolha o dia para agendar :
        <input type="date" name="date">
    </label>
    <input type="submit" value="agendar">
</form>